:root {
    --accentMain: #198dc2;
    --accentDark: #126287;
    --accentLight: #6fabc6;
    --brandMain: #ffb700;
    --brandDark: #b78300;
    --brandLight: #ffd15c;
    --text: white;
    --lowlyButton: #222;
}

body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        --lowlyButton: #ddd;
        --text: black;
    }

    body {
        background-color: white;
    }
}

html[theme="dark"] {
    --lowlyButton: #222;
    --text: white;
}

html[theme="light"] {
    --lowlyButton: #ddd;
    --text: black;
}

html[theme="dark"] body {
    background-color: black;
}

html[theme="light"] body {
    background-color: white;
}

* {
    font-family: system-ui;
}

@keyframes appear {
    from {
        opacity: 0;
        font-size: 10vw;
    }

    to {
        opacity: 1;
        font-size: 50px;
    }
}

.title {
    color: var(--text);
    font-weight: 100;
    font-size: 50px;
    text-shadow: 2px 2px 10px grey;
    animation: appear 3s ease;
    margin: 10px;
}

.user-island {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: var(--accentMain);
    border-radius: 10px;
    box-shadow: 2px 2px 100px 10px var(--accentMain);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-island button {
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

#signupButton {
    border: none;
    background-color: var(--accentDark);
    color: var(--text);
}

#loginButton {
    border: 2px solid ;
    background-color: transparent;
}

.main-options {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 75%;
    height: 50%;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

@keyframes optAppear {
    from {
        opacity: 0;
        translate: 0 20vh;
    }
}

.main-options .option {
    width: 50%;
    height: 100%;
    background-color: var(--lowlyButton);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 20px 1px var(--lowlyButton);
}

.build-option .opt-img {
    background: linear-gradient(to right, var(--brandLight), var(--brandMain));
    width: 100%;
    height: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.play-option .opt-img {
        background: linear-gradient(to right, var(--accentDark), var(--accentMain));
    width: 100%;
    height: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.option h2 {
    color: var(--text);
    font-weight: 100;
    margin: 10px;
}

.option span {
    color: var(--text);
    font-weight: 100;
    margin-left: 10px;
}

.build-option {
    animation: optAppear 1s ease-out 0.8s backwards;
}

.play-option {
    animation: optAppear 1s ease-out 1s backwards;
}

.option a {
    border-radius: 10px;
    font-size: 20px;
    border: none;
    color: var(--text);
    border: none;
    padding: 5px 10px;
    margin: 10px;
    width: fit-content;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

.build-option a {
    background-color: var(--brandMain);
    box-shadow: 2px 2px 10px 2px var(--brandMain);
}

.build-option a:hover {
    background-color: var(--brandDark);
}

.play-option a {
    background-color: var(--accentMain);
    box-shadow: 2px 2px 10px 2px var(--accentMain);
}

.play-option a:hover {
    background-color: var(--accentDark);
}

.topbar {
    width: 100%;
    background-color: var(--accentMain);
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}

.topbar h2 {
    margin: 5px;
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.topbar a {
    text-decoration: none;
    color: white;
    background-color: var(--accentDark);
    padding: 0 10px;
    height: 100%;
    transition: background-color 0.2s;
}

.topbar a:hover {
    background-color: var(--brandMain);
}

.topbar a:active {
    background-color: var(--accentLight);
}

.topbar button {
    background-color: var(--accentDark);
    padding: 0 10px;
    border: none;
    height: 100%;
    transition: background-color 0.2s;
    cursor: pointer;
}

.topbar button:hover {
    background-color: var(--brandMain);
}

.topbar button:active {
    background-color: var(--accentLight)
}

.topbar button svg {
    width: 20px;
    height: 100%;
}

.toolbar {
    height: 100px;
    width: 100%;
    box-shadow: 0 5px 10px var(--lowlyButton);
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
    box-sizing: border-box;
}

.toolbar button {
    height: 100%;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    width: 60px;
}

.toolbar button:hover {
    background-color: var(--lowlyButton);
}

.toolbar button:active {
    background-color: var(--brandMain);
}

.toolbar hr {
    margin: 10px;
}

.main-band {
    flex: 1;
    margin: 15px 0 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-height: 0;
}

.main-band .properties {
    width: 20%;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--lowlyButton);
}

.main-band .properties span {
    font-weight: 100;
    font-size: 20px;
    margin: 10px 0 0 10px;
}

.main-band canvas {
    flex: 1;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--lowlyButton);
}